.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px;
  background-color: slategrey;
}

.sidenav a {
  color: aliceblue;
}
.search-nav {
  margin: auto;
  padding: 0;

}

.sidenav .mat-toolbar {
  background: inherit;
}
.nav-toolbar{
  background-color: rgb(162, 165, 167);
  border-bottom: rgb(26, 96, 189) 4px solid;
}
.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  height: 30px;
}
