.sidenav-container {
  height: 100%;
  
}

.sidenav {
  width: 200px;
}
.search-nav {
  margin: auto;
  padding: 0;

}

.sidenav .mat-toolbar {
  background: inherit;
}
.nav-toolbar{
  background-color: rgb(236, 225, 214);
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
