.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px;
  background-color: rgb(231, 237, 243);
}

.sidenav a {
  color: rgb(47, 49, 51);
}
.search-nav {
  margin: auto;
  padding: 0;

}

.sidenav .mat-toolbar {
  background: inherit;
}
.nav-toolbar{
  background-color: rgb(231, 237, 243);
  border-bottom: rgb(26, 96, 189) 4px solid;
  text-align: center center;
}
.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  height: 30px;
}
.active {
  background-color: #98c9e0 !important;
}