<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="open">
    <mat-toolbar>Dash Board</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/allrestaurant']" routerLinkActive="active">All Resturant</a>
      <a mat-list-item [routerLink]="['/order']" routerLinkActive="active">All Orders</a>
      <a mat-list-item [routerLink]="['/customers']" routerLinkActive="active">All Customer</a>
      
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar  class="nav-toolbar">
      <button mat-raised-button (click)="open=!open">
        <mat-icon > {{open? 'keyboard_arrow_left': 'keyboard_arrow_right'}}</mat-icon> 
      </button>
        
        <mat-form-field class="search-nav">
          <input matInput type="text" placeholder="Search..."><mat-icon  matSuffix>search </mat-icon>
        </mat-form-field>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
