
<div class="container" >

    <div class="resheader">
        <h2 class="resid">Restaurant Id :  <span color="primary">{{id}}</span> <span><button style="margin-left: 20%;" mat-raised-button (click)="goBack()">Back</button></span></h2>
        
    </div>
    
    <div class="res">
        <h3 class="resname">{{name}}</h3><span></span>
    </div>
    <div class="resaddress">
        <p>Restaurant Address: <span>Bardhaman</span> </p>
    </div>

    <div class="offerfoods">
        <div class="offerfood-text"> <span>Offer Foods :  </span> </div>
        <div class="vegitem"> 
            <header>Veg Items</header>
             <ol>
                 <li>Paneer</li>
                 <li>Alu porota</li>
             </ol> 
        </div>
        <div class="non-vegitem">
            <header>Non Veg Items</header>
             <ol>
                 <li>Fish Fry</li>
                 <li>Chicken</li>
             </ol> 
        </div>
    </div>
</div>
