/* .restaurent-header{
    height: 100px;
    width: 100%;
    background-color: rgb(101, 105, 96);
    color: white;
    
    margin: auto;
}
.res-name {
   margin-left: 5%;
}
.res-id {
    float: right;
    margin-right: 10%;
}
.food-items {
    top: 30%;
}
.veg{
    
} */


.container {
    background-color: cadetblue;
    height: 100%;
    width: 100%;
}
.resheader{
    margin-top: 7%;
    width: 100%;
    height: 120px;
    background-color: black;
    position: absolute;
}

.res {
    margin-top: 4%;
    margin-left: 5%;
    height: 200px;
    width: 15%;
    background-color: brown;
    position: absolute;
    float: left;
}

.resname {
    margin: auto;
    text-align: center;
    margin-top: 40%;
    text-decoration: rgb(197, 190, 164);
    color: #fff;
    font-size: 50px;
}

.resid {
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 3%;
}

.resaddress {
    position: absolute;
    margin: auto;
    color: #fff;
    margin-top: 15%;
    margin-left: 22%;
    font-size: 20px;
}

.offerfoods {
    color: #fff;
    background-color: lemonchiffon;
    width: 100%;
    


}
.offerfood-text {
    font-size: 20px;
    background-color: chartreuse;
    height: 80px;
    width: 30px;
    
}
.vegitem{
    font-size: 20px;
    padding: 7px;
    
    background-color: blue;
}
.non-vegitem {
    font-size: 20px;
    padding: 7px;
    margin-left: ;

    background-color: rgb(209, 15, 15);
}

li{
    padding: 10px;
}