
<!-- <app-header></app-header>
<app-login></app-login>
<router-outlet></router-outlet>
<app-footer></app-footer> -->
<app-adminhome></app-adminhome>
<!-- <app-table></app-table> <app-nav></app-nav> <app-dashboard><app-dashboard> -->
    <!-- <app-nav></app-nav> -->

    <!-- <app-dashboard></app-dashboard><app-signup></app-signup> -->

    <!-- <app-allrestaurants> </app-allrestaurants> -->
    <!-- <app-restaurant></app-restaurant> -->

    <!-- <app-order></app-order> -->
    
    <!-- <app-signup></app-signup> -->
    <!-- <router-outlet></router-outlet> -->

    <!-- <app-table></app-table> -->