
.header-container {
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    display: flex;
    justify-content: center space-between;
    align-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
}
.logo {
    width:40%;
}
img{
    height: 80px;
    width: 200px;
}
.header-right {
    justify-content: space-evenly;
    width: 35%;
    display: flex;
    margin:auto;
    
  }
.admin {
    font-size: medium;
    width: auto;
    margin: auto;
    text-align: center center;
}
  .notification {

  }
.avtar {
    display: flex;
}

mat-menu {
    width: 200px;
}

.addres {
    margin-right: 20%;
}

.example-tooltip-red {
    background: #b71c1c;
  }