

<!-- <mat-accordion multi="true" *ngIf="restaurant.length > 0">
    <mat-expansion-panel *ngFor="let rst of restaurant">
        <mat-expansion-panel-header>
            <h4>Restaurant Name:</h4>  <span style="margin-left: 5%;">{{rst.name}}</span> 
            <h4 style="margin-left: 10%;">Restaurant Id: </h4><span style="margin-left: 5%;">{{rst._id}} </span> 
            <h4 style="margin-left: 10%;">TAB - Resturant ID </h4> <span style="margin-left: 5%;"> {{rst.resid}}</span>
        </mat-expansion-panel-header>
        <mat-action-row>
            <button mat-button (click)="onEdit(rst._id)">EDIT</button>
            <button mat-button color="warn" (click)="onDelete(rst._id)">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion> -->

<table >
            <th>Restaurant Name </th>
            <th>Restaurant Id</th>
            <th>TAB-ID</th>
            <th>Edit</th>
            <th>Delete</th>
    <tr *ngFor="let res of restaurant" >
        <!-- <td (click)="onResDetails(res.resid)">{{res.name}}</td> -->
        <td routerLink="/res/{{res.resid}}">{{res.name}}</td>
        <td>{{res._id}}</td>
        <td>{{res.resid}}</td>
        <td (click)="onEdit(res._id)">edit</td>
        <td (click)="onDelete(res.resid)">delete</td>
    </tr>
    
</table>
