<div class="cards center">
  <mat-grid-list cols="2" rowHeight="3:1" class="dashbord-content">
    <mat-grid-tile class="resturant-card" [routerLink]="['/allrestaurant']" routerLinkActive="active">ALL Restaurant</mat-grid-tile>
    <mat-grid-tile class="orders-card" [routerLink]="['/order']" routerLinkActive="active">All Orders</mat-grid-tile>
    <mat-grid-tile class="add-resturent-card" [routerLink]="['/customers']" routerLinkActive="active">All Customer</mat-grid-tile>
    <mat-grid-tile class="customer-card" [routerLink]="['/fooditems']" routerLinkActive="active">All Foods </mat-grid-tile>
    
    <!-- <mat-card>
      <mat-card-content rowHeight="2:1" cols="2"> 
        hi
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content rowHeight="2:1" cols="2"> 
        hi
      </mat-card-content>
    </mat-card> -->
  </mat-grid-list>
</div>